<div class="main" id="main">
    <h2>Profile Details</h2>
    <hr>
    <div class="main-content">
        <div class="table-responsive">          
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Attribute</th><th>Value</th>
                        
                    </tr>
                    
                </thead>
                <tbody>
                <tr>
                        <th>Name</th><th><%= @developer.name%></th>
                        
                    </tr>
                     <tr>
                        <th>Email</th><th><%= @developer.email%></th>
                        
                    </tr>
                     <tr>
                        <th>Employee Id</th><th><%= @developer.id%></th>
                        
                    </tr>

                    <tr>
                        <th>Domain</th><th><%= @developer.domain%></th>
                        
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>