
<div class="main" id="main">
    <h2>Dailly Attendances</h2>
    <hr>
    <div class="form-group col-md-4 pull-right dsr_action">
        <form id="filter_by_form" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="text" name="date" id="filter_date" class="form-control" placeholder="Filter By Date">
        </form>
    </div>
    <div class="main-content col-md-12">
        <div class="table-responsive">    

        <%= render 'attendance'%>

            
        </div>
    </div>
</div>
<style type="text/css">
    hr {
    margin-top: 0px!important;
    margin-bottom: 0px !important;
    border: 0;
    border-top: 1px solid #eee;
}
</style>