
<div class="main" id="main">
    
    <div class="main-content">
        <div class="table-responsive">          
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date Stamp</th>
                        <th class="th-default">Punch-In-Time</th>
                        <th class="th-action">Punch-Out-Time</th>
                    </tr>
                </thead>
                <tbody>

                    <% @attendances.each do |attendance| %>
                    <tr>
                        <td><%= attendance.created_at.ctime %></td>
                        <td>
                            <%= attendance.punch_in_time.present? ? attendance.punch_in_time.strftime("%I:%M %p") : "Punch Missed" %>
                        </td>
                        <td>
                            <%= attendance.punch_out_time.present? ? attendance.punch_out_time.strftime("%I:%M %p") : "Punch Missed"%>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="page-switch">
    <%= paginate @attendances %>
</div>

 <script>
        window.jQuery(function ($) {
            "use strict";

            $('time').countDown({
                with_separators: false
            });
            $('.alt-1').countDown({
                css_class: 'countdown-alt-1'
            });
            $('.alt-2').countDown({
                css_class: 'countdown-alt-2'
            });

        });
 </script>